
/* mains */
body{
    background-color: #ffffff;
    background-image: linear-gradient(to right, #2196f3, #49e7df);
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font size: 2vh;
    font-weight: none;
    padding: 0;
    margin: 0;
}


.menubar{
    width: 100;
    background-color: #2196f3;
    background-image: linear-gradient(to right, #2196f3, #49e7df);
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}


.logo{
    position: relative;
    width: 20vmin;
    padding: 5px;
    display: inline-block;
}


.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.pocketname{
    /*background-color: #ffffff;*/
    margin-left: 7vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
}


.pocketbalance h3{
    font-weight: 550;
}


.pb_pos{
    background-color: rgba(56,142,60,1);
    position: relative;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    /*box-shadow: 0px 0px 5px 4px rgba(0, 0 ,0, .45);*/
    transition: 0.2s;
}


.pb_pos:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(56,142,60, 1);
}


.pb_neg{
    background-color: rgba(211,47,47,1);
    position: relative;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    /*box-shadow: 0px 0px 5px 4px rgba(0, 0 ,0, .45);*/
    transition: 0.2s;
}


.pb_neg:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(211,47,47, 1);
}


.negative_transfers{
    text-align: left;
    border-radius:2px;
}


.positive_transfers{
    text-align: left;
    border-radius:2px;
}


.l_trans_holder{
    padding: 0;
}


.l_t_holder{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    /*border: 1px solid red;*/
    transition: .2s;
}


.l_t_holder:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
}


.bal_date_holder{
    display: inline-block;
    max-width: 50%;
    height: 100%;
    padding:0;
    margin: 0;
    /*border: 1px solid blue;*/
    text-align: center;
}


.name_desc_holder{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding:0;
    text-align: center;
    /*border: 1px solid green;*/
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*------------ NEW MODALS --------------------*/


div.modalback{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: red; /* Fallback color */
    background-color: rgba(0, 0, 0, .3); /* Black w/ opacity */
    }


div.posm_frame{
    background-color: white;
    background-image: linear-gradient(to bottom, #2196f3, #49e7df);
    margin: auto;
    display: inline-block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*border: 1px solid rgba(0, 0, 0, 1);*/
    border-radius: 2px;
    padding: 5px;
    /*max-width: 90vw;*/
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}


div.negm_frame{
    background-color: white;
    background-image: linear-gradient(to bottom, #ccf5ff, #ffcccc);
    margin: auto;
    display: inline-block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*border: 1px solid rgba(0, 0, 0, 1);*/
    border-radius: 2px;
    padding: 5px;
    /*max-width: 90vw;*/
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 7px 5px rgba(252, 0, 0, .5);
}


ul li.list{
    margin: 5px;
    text-align: center;
}


ul.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


input.inputb {
        	background: rgba(0,0,0,.2);
        	color: white;
        	border: none;
        	border-radius: 2px;
        	padding: 5px;
        	transition: .2s;
        	cursor: pointer;
        	text-align: center;
        }


input.inputb:hover{
        	background: rgba(0,0,0,.3);
        	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        }


input.inputb:focus{
        	background: rgba(0,0,0,.3);
        	border: none;
        	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        }


input.inputb::placeholder{
    color: rgba(255,255,255,.5);
    }


button.posbutton{
        	border: none;
        	border-radius: 2px;
        	background-color: rgba(29, 181, 79, .7);
        	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        	color: white;
        	text-transform: uppercase;
        	padding: 5px;
        	transition: .2s;
        }


button.posbutton:hover{
        	background-color: rgba(29, 181, 79, .9);
        	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        }


button.negbutton{
        	border: none;
        	border-radius: 2px;
        	background-color: rgba(232, 58, 78, .7);
        	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        	color: white;
        	text-transform: uppercase;
        	padding: 5px;
        	transition: .2s;
        }


button.negbutton:hover{
        	background-color: rgba(232, 58, 78, .9);
        	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        }


button.neutralbutton{
        	border: none;
        	border-radius: 2px;
        	background-color: rgba(141, 185, 204, .7);
        	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        	color: white;
        	text-transform: uppercase;
        	padding: 5px;
        	transition: .2s;
        }


button.neutralbutton:hover{
        	background-color: rgba(141, 185, 204, .9);
        	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        }


a.customlink{
        	cursor: pointer;
        	transition: .2s;
        }


a.customlink:hover{
    font-size: 110%;
    }


/* The container */
.cm_container{
 			display: inline-block;
  			position: relative;
  			padding-left: 35px;
  			cursor: pointer;
  			-webkit-user-select: none;
  			-moz-user-select: none;
  			-ms-user-select: none;
  			user-select: none;
		}


/* Hide the browser's default checkbox */
.cm_container input{
        	position: absolute;
        	opacity: 0;
        	cursor: pointer;
        	height: 0;
        	width: 0;
		}


/* Create a custom checkbox */
.checkmark{
        	position: absolute;
        	top: 0;
        	left: 0;
        	height: 20px;
        	width: 20px;
        	background-color: white;
        	border-radius: 2px;
		}

/* On mouse-over, add a grey background color */
.cm_container:hover input ~ .checkmark{
    background-color: #ccc;
    }


/* When the checkbox is checked, add a blue background */
.cm_container input:checked ~ .checkmark{
    background-color: #2196F3;
    }


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
			content: "";
			position: absolute;
			display: none;
		}


/* Show the checkmark when checked */
.cm_container input:checked ~ .checkmark:after{
    display: block;
    }


/* Style the checkmark/indicator */
.cm_container .checkmark:after{
        	left: 8px;
        	top: 4px;
        	width: 5px;
        	height: 10px;
        	border: solid white;
        	border-width: 0 3px 3px 0;
        	-webkit-transform: rotate(45deg);
        	-ms-transform: rotate(45deg);
        	transform: rotate(45deg);
        }


.viking{
    position: absolute;
    max-width: 80px;
    bottom: 105%;
    left: -20px;bottom: 105%;
    left: -20px;
    transition: 0.3s;
}


.viking:hover{
    max-width: 90px;
    left: -25px;
}


.close_btn{
    position: absolute;
    max-width: 3vmax;
    /*bottom: 90%;*/
    top: -1.25vmax;
    right: -1.25vmax;
    transition: 0.3s;
}


.close_btn:hover{
    max-width: 4vmax;
    top: -1.5vmax;
    right: -1.5vmax;
}

/*
.addm_frame{
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 10vh auto;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    max-width: 90vw;
    box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}


.detail_frame{
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 5vh auto;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    width: 90vw;
    height: 90vh;
    overflow: none;
    box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}
*/

/*-------------------detailmodal styles----------------------*/
.label_s{
    /*border: 1px solid red;*/
    width: fit-content;
    margin: 0;
    padding: 2px;
    text-align: left;
    font-weight: bold;
    background-color: rgba(97, 97, 97,1);
    color: white;
    border-radius: 2px;
}


.detail_s{
    /*border: 1px solid blue;*/
    width: fit-content;
    margin: 0;
    padding: 2px;
    text-align: left;
    font-size: 70%;
}


.filters_s{
    /*border: 1px solid blue;*/
    height: 40%;
    overflow: auto;
}


.charts_s{
    /*border: 1px solid red;*/
    position: relative;
    border-radius: 2px;
    margin: 0;
    height: 50%;
}

/*-------------------detailmodal styles----------------------*/


.help_frame{
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 10vh auto;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    max-width: 90vw;
    box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);
}


.tableholder{
    position: relative;
    display: block;
    max-height: 50%;
    margin: 10px auto;

}


.categories_span{
    text-align: left;
    margin-left: 15px;
    margin-right: 15px
}


.categories_span:hover{
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
}


.delpocket{
    top: 0;
}


.car_nav{
    z-index: 1;
    width: fit-content;
    height: 20%;
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.45);
    transition: .3s;
}


.car_nav:hover{
    width: 5vmax;
    background-color: rgba(0, 0, 0, 0.15);
}


.navicon{
    margin: auto;
}


.negtransfer{
    background-color: rgba(211,47,47,1);
    display: inline-block;
    /*box-shadow: 0px 0px 2px 2px rgba(211,47,47, 1);*/
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    margin: 0;
    transition: .2s;
    text-align: center;
}


.negtransfer:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(211,47,47, 1);
}


.postransfer{
    background-color: rgba(56,142,60,1);
    display: inline-block;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    margin: 0;
    transition: .2s;
    text-align: center;
}


.postransfer:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(56,142,60, 1);
}


.typeholder{
    background-color: rgba(97, 97, 97,1);
    display: inline-block;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    margin: 0;
    transition: .2s;
    text-align: center;
}


.typeholder:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 1);
}


.transferdate{
    font-size: 50%;
    margin: 0;
}


/* noauthindex stylesheets */
.qmarks{
    position: relative;
    display: inline-block;
    padding: 3px;
    border: 1ps solid red;
    border-radius: 2px;
    background-color: #2196f3;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}

.qicon{
    display: inline-block;
    max-width: 5vmin;
    height: auto;
}


/* DETAIL STYLESHEETS */


.chart_t_holder{
    display: block;
    position: relative;
    margin: auto;
    /*border: 1px solid red;*/
    transition: .2s;
}


.chart_t_holder:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
}


.chart_db_holder{
    display: inline-block;
    max-width: 50%;
    height: 100%;
    padding:0;
    margin: 0;
    text-align: center;
}


.chart_transferdate{
    font-size: 50%;
    margin: 0;
}


.chart_typeholder{
    background-color: rgba(97, 97, 97,1);
    display: inline-block;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    margin: 0;
    transition: .2s;
    text-align: center;
}


.chart_typeholder:hover{
    font-size: 105%;
    box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 1);
}