<div id="addcategory_modal" class="modalback ">

    <div class="addm_frame">

        <p id="hidden_id" style="display: none;"
           {% if c %}
           cid= "{{c.id}}"
           {% else %}
           cid= ""
           {% endif %}
           >
        </p>

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal">

        <h6>add category</h6>

        <ul>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">description</i>
            <input id="category_name" type="text" class="validate" data-length="40"
                   {% if c %}
                   value="{{c.name}}"
                   {% else %}
                   value = ""
                   {%endif%}
            >
            <label for="category_name">name</label>
          </div>
        </li>

        <li>
            <div class="switch">
                <label>
                Expense
                    {% if c %}
                        {% if c.type > 0 %}
                            <input type="checkbox" id="cat_type" checked>
                            <span id="cat_span" class="lever"></span>
                        {% else %}
                            <input type="checkbox" class="red" id="cat_type">
                            <span id="cat_span" class="lever red"></span>
                        {% endif %}
                    {% else %}
                        <input type="checkbox" id="cat_type" checked>
                        <span id="cat_span" class="lever "></span>
                    {% endif %}
                Income
                </label>
            </div>

        </li>

        <li class="center-align">
          <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="add_category">
            <i class="material-icons left">add_circle</i>
              {% if c %}
                modify
              {% else %}
                add category
              {% endif %}
          </a>
        </li>

        </ul>

    </div>

</div>