<div id="addcategory_modal" class="modalback ">

    <div class="posm_frame" id="addc_frame">

        <p id="hidden_id" style="display: none;"
           {% if c %}
           cid="{{c.id}}"
           {% endif %}
           >
        </p>

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('addc_frame', 'addcategory_modal'); show_cat()">

        {% if c %}
        <h6>modify category</h6>
        {% else %}
        <h6>add category</h6>
        {% endif %}

        <ul class="no-bullets">

            <li class="list">
                <input id="category_name" type="text" class="inputb" placeholder="Category name"
                {% if c %}
                   value="{{c.name}}" autofocus
                {% else %}
                   value = ""
                {%endif%}
                />
            </li>

        <li class="no-bullets list">
            <div class="switch">
                <label>
                <i class="small material-icons rotate180 red-text">
                    publish
                </i>
                    {% if c %}
                        {% if c.type > 0 %}
                            <input type="checkbox" class="green darken-2" id="cat_type" checked>
                            <span id="cat_span" class="lever"></span>
                        {% else %}
                            <input type="checkbox" class="red" id="cat_type">
                            <span id="cat_span" class="lever red"></span>
                        {% endif %}
                    {% else %}
                        <input type="checkbox" class="green darken-2" id="cat_type" checked>
                        <span id="cat_span" class="lever"></span>
                    {% endif %}
                <i class="small material-icons green-text darken-2">
                    publish
                </i>
                </label>
            </div>

        </li>

        <li class="center-align list" style="margin-top: 3vh;">
            <button class="posbutton" id="add_category" onclick="signupattempt(">
                {% if c %}
                modify
                {% else %}
                add category
                {% endif %}
            </button>
        </li>

        </ul>

    </div>

</div>