<div id="addcategory_modal" class="modalback ">

    <div class="addm_frame" id="addc_frame">

        <p id="hidden_id" style="display: none;"
           {% if c %}
           cid="{{c.id}}"
           {% endif %}
           >
        </p>

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal">

        {% if c %}
        <h6>modify category</h6>
        {% else %}
        <h6>add category</h6>
        {% endif %}

        <ul>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">description</i>
            <input id="category_name" type="text" class="validate" data-length="40"
                   {% if c %}
                   value="{{c.name}}"
                   {% else %}
                   value = ""
                   {%endif%}
            >
            <label for="category_name">name</label>
          </div>
        </li>

        <li>
            <div class="switch">
                <label>
                <i class="small material-icons rotate180 red-text">
                    publish
                </i>
                    {% if c %}
                        {% if c.type > 0 %}
                            <input type="checkbox" class="green darken-2" id="cat_type" checked>
                            <span id="cat_span" class="lever"></span>
                        {% else %}
                            <input type="checkbox" class="red" id="cat_type">
                            <span id="cat_span" class="lever red"></span>
                        {% endif %}
                    {% else %}
                        <input type="checkbox" class="green darken-2" id="cat_type" checked>
                        <span id="cat_span" class="lever"></span>
                    {% endif %}
                <i class="small material-icons green-text darken-2">
                    publish
                </i>
                </label>
            </div>

        </li>

        <li class="center-align" style="margin-top: 3vh;">
          <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="add_category">
            {% if c %}
            <i class="material-icons left">check_circle</i>
            modify
            {% else %}
            <i class="material-icons left">add_circle</i>
            add category
            {% endif %}
          </a>
        </li>

        </ul>

    </div>

</div>