<div id="addpocket_modal" class="modalback">

    <div class="addm_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal">

        <h6>add pocket</h6>

        <ul>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">border_color</i>
            <input id="addp_name" type="text" class="validate" data-length="40">
            <label for="addp_name">name</label>
          </div>
        </li>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">article</i>
            <input id="addp_desc" type="text" class="validate" data-length="120">
            <label for="addp_desc">description</label>
          </div>
        </li>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">account_balance</i>
            <input id="addp_bal" type="text" class="validate">
            <label for="addp_bal">initial balance</label>
          </div>
        </li>

        <li class="center-align">
          <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="add_pocket">
            <i class="material-icons left">queue</i>
            add pocket
          </a>
        </li>

      </ul>

    </div>

</div>