<div id="addtransfer_modal" class="modalback ">

    <div class="addm_frame flow-tex">

        <p id="hidden_pocket_id" style="display: none;"
           {% if p %}
           pid= "{{c.id}}"
           {% else %}
           pid= ""
           {% endif %}
           >
        </p>

        <img class="close_btn tooltipped" draggable="false" src="/static/img/icons/close.png" id="close_modal" data-position="bottom" data-delay="50" data-tooltip="Close modal">

        <h6>add transfer</h6>

        <ul>

        <!-- Pocket selector -->
        <li>
            <div class="input-field flow-text" id="pocket_s">
                <label for="pocket_selector">pocket:</label>
                <select id="pocket_selector" class="left-align">
                    {% for pocket in pockets %}
                    <option value={{pocket.id}}
                    {% if pocket.id == ap %}
                    selected
                    {% endif %}>
                    {{pocket.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <!-- Category selector -->
        <li>
            <div class="input-field flow-text" id="category_s">
                <label for="category_selector">category:</label>
                <select id="category_selector" class="left-align">
                    {% for category in categories %}
                    <option value={{category.id}}>
                        <p class="left-align">{{category.name}}</p>

                    </option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <!-- value input -->
        <li>
            <div class="input-field">

                <input id="transfer_amount" type="text" class="validate">
                <label for="transfer_amount">
                    {% if type > 0 %}
                    <i class="small material-icons left green-text darken-2">publish</i>
                    {% else %}
                    <i class="small material-icons left rotate180 red-text">publish</i>
                    {% endif %}
                    value
                </label>
            </div>
        </li>

        <!-- submit button -->
        <li class="center-align">
          <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="add_transfer"
             onclick="transfer( $('#pocket_selector').val(), $('#category_selector').val(), $('#transfer_amount').val() )">
              {% if type > 0 %}
              <i class="small material-icons left green-text darken-2">publish</i>
              {% else %}
              <i class="small material-icons left rotate180 red-text">publish</i>
              {% endif %}
              add transfer
          </a>
        </li>

        </ul>

    </div>

    <script>
            $(document).ready(function(){
                $('#pocket_s select').formSelect();
                $('#category_s select').formSelect();
            });
    </script>

</div>
