<div id="addtransfer_modal" class="modalback ">

    <div class="posm_frame flow-tex" id="addt_frame">

        <p id="hidden_pocket_id" style="display: none;"
           {% if p %}
           pid= "{{c.id}}"
           {% else %}
           pid= ""
           {% endif %}
           >
        </p>

        <img class="close_btn tooltipped" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('addt_frame', 'addtransfer_modal')">

        <h6>add transfer</h6>

        <ul class="no-bullets">

            <!-- Pocket selector -->
            <li class="list">
                <div class="input-field flow-text" id="pocket_s">
                    <label for="pocket_selector">pocket:</label>
                    <select id="pocket_selector" class="left-align">
                    {% for pocket in pockets %}
                        <option value={{pocket.id}}
                    {% if pocket.id == ap %}
                        selected
                    {% endif %}>
                        {{pocket.name}}
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </li>

            <!-- Category selector -->
            <li class="list">
            <div class="input-field flow-text" id="category_s">
                <!--<label for="category_selector">category:</label>-->
                <select id="category_selector" class="left-align">
                    {% for category in categories %}
                    <option value={{category.id}}>
                        <p class="left-align">{{category.name}}</p>

                    </option>
                    {% endfor %}
                </select>
            </div>
        </li>

            <!-- value input -->
            <li class="list">
                <input id="transfer_amount" type="text" class="validate inputb" placeholder="value">
            </li>

            <!-- detail input -->
            <li class="list">
                <input id="transfer_detail" type="text" class="validate inputb" placeholder="details">
            </li>

            <!-- submit button -->
            <li class="list">
                <button class="posbutton" id="add_transfer" onclick="transfer(
             $('#pocket_selector').val(), $('#category_selector').val(), $('#transfer_amount').val(), $('#transfer_detail').val() )"
                >
                    {% if type > 0 %}

                    <div class="valign-wrapper">
                        <i class="small material-icons left">publish</i>
                        add income
                    </div>

                    {% else %}

                    <div class="valign-wrapper">
                        <i class="small material-icons left rotate180 red-text">publish</i>
                        add expense
                    </div>

                    {% endif %}

                </button>
            </li>

        </ul>

    </div>

    <script>
            $(document).ready(function(){
                $('#pocket_s select').formSelect();
                $('#category_s select').formSelect();
            });
    </script>

</div>
