<div class="container">

    <div class="carousel carousel-slider center" style="min-height: 85vh;">
    <!-- <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->
    <div class="carousel-item red lighten-2" style="overflow:auto; border-radius: 2px;">
        <h2> Users </h2>
        <p>{% include 'admin_users.html' %}</p>
    </div>
    <div class="carousel-item blue lighten-2" style="overflow:auto; border-radius: 2px;">
        <h2> Categories </h2>
        <p>{% include 'admin_categories.html' %}</p>
    </div>
    <div class="carousel-item amber lighten-2" style="overflow:auto; border-radius: 2px;">
        <h2>Pockets</h2>
        <p>{% include 'admin_pockets.html' %}</p>
    </div>
    <div class="carousel-item green white-text" style="overflow:auto; border-radius: 2px;">
        <h2>Transfers</h2>
        <p>{% include 'admin_transfers.html' %}</p>
    </div>

  </div>

</div>