<div id="category_modal" class="modalback">

    <div class="addm_frame" id="cat_frame" style="overflow: auto;">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal">

        <a class="btn-floating btn-medium waves-effect waves-light teal" onclick="add_cat()">
            <i class="material-icons">add_circle</i>
        </a>

        <table class="highlight">
            <tbody>
            {% for category in categories %}
            <tr id={{category.id}}>
                <td style="overflow: auto;">
                    <a class="btn-floating btn-small waves-effect waves-light teal" id="{{category.id}}_edit" onclick="edit_cat({{category.id}})">
                        <i class="small material-icons">create</i>
                    </a>
                    <a class="btn-floating btn-small waves-effect waves-light red" id="{{category.id}}_del" onclick="del_cat({{category.id}})">
                        <i class="small material-icons">delete</i>
                    </a>
                    {{category.name}}
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>