<div id="category_modal" class="modalback">

    <div class="addm_frame" id="cat_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal">

        <a class="btn-floating btn-medium waves-effect waves-light teal" onclick="add_cat()">
            <i class="material-icons">add_circle</i>
        </a>

        <div id="tableholder" class="tableholder">
            {% for category in categories %}
            <p class="categories_span" id="{{category.id}}">
            <span id="cat_{{category.id}}" class="valign-wrapper">
                <a class="btn-floating btn-small waves-effect waves-light teal" id="{{category.id}}_edit" onclick="edit_cat({{category.id}})"
                   style="margin: 5px;">
                    <i class="small material-icons">create</i>
                </a>
                <a class="btn-floating btn-small waves-effect waves-light red" id="{{category.id}}_del" onclick="del_cat({{category.id}})"
                   style="margin: 5px;">
                    <i class="small material-icons">delete</i>
                </a>
                {{category.name}}
                {% if category.type == 1 %}
                <i class="small material-icons green-text">publish</i>
                {% else %}
                <i class="small material-icons rotate180 red-text">publish</i>
                {% endif %}
            </span>
            </p>
            {% endfor %}
        </div>

    </div>

</div>