<div id="charts_prevslide" style="position: absolute; left: 0; top: 50%-height/2; border-top-right-radius: 5px;
border-bottom-right-radius: 5px;" class="valign-wrapper car_nav"
onclick="prev_chart()">
                <i class="material-icons small navicon">skip_previous</i>
            </div>

<div id="charts_nextslide" style="position: absolute; right: 0; top:50%-height/2; border-top-left-radius: 5px;
border-bottom-left-radius: 5px;" class="valign-wrapper car_nav"
onclick="next_chart()">
                <i class="material-icons small navicon">skip_next</i>
            </div>

{% for chart in charts%}
<embed  type="image/svg+xml" src= "{{ chart|safe }}" style="height: 100%; max-width: 100%; margin: auto;"/>
{% endfor %}