<div id="showch">
<div id="charts_prevslide" style="position: absolute; left: 0; top: 50%-height/2; border-top-right-radius: 5px;
border-bottom-right-radius: 5px;" class="valign-wrapper car_nav"
onclick="prev_chart()">
                <i class="material-icons small navicon">skip_previous</i>
            </div>

<div id="charts_nextslide" style="position: absolute; right: 0; top:50%-height/2; border-top-left-radius: 5px;
border-bottom-left-radius: 5px;" class="valign-wrapper car_nav"
onclick="next_chart()">
                <i class="material-icons small navicon">skip_next</i>
            </div>

{% for chart in charts %}
<embed id={{loop.index}} type="image/svg+xml" src= "{{ chart|safe }}" style="max-height:75%; max-width: 90%; margin: auto; display: none;"/>
{% endfor %}
</div>

<button class="posbutton" style="width: 90%; margin-bottom: 10px;" id="switchbtn"></button>

<div id="showtr" style="">
    <div id="filters">
        FILTERS HERE
    </div>

    {% for transfer in transfers %}
    <div class="valign-wrapper l_t_holder" style=" max-width: 90%; ">

        <div class="bal_date_holder flow-text" style="float:left; margin-left: 1vw;">
            {% if transfer.amount >= 0%}
            <p class="postransfer">
            {% else %}
            <p class="negtransfer">
            {% endif %}
            {{ "{:,}".format(transfer.amount) }}
            </p>
            <p class="transferdate" style="font-size: 50%; margin: 0;">
                ({{transfer.timestamp.strftime('%d.%b.%Y,%H:%M')}})
            </p>
        </div>

        <div class="name_desc_holder" style="">
            <p style="margin: 0;" class="typeholder">
                {{transfer._category}}
            </p>
            {% if transfer.detail %}
            <p class="transferdate" style="margin: 0;">
                ({{transfer.detail}})
            </p>
            {% else %}
            <p class="transferdate" style="margin-right: 2px;">
                No details
            </p>
            {% endif %}
        </div>

    </div>
    {% endfor %}

</div>

<script>
    var charts = {{charts|safe}};
    pagechart();
    show_display();
    $('#switchbtn').click( function(){
        if(showed == 0){
            showed = 1;
            show_display();
        }
        else{
            showed = 0;
            show_display();
        }
    });
    {% if daterange %}
    setdates({{daterange['min']}}, {{daterange['max']}});
    {% elif newdates %}
    newdates({{newdate['min']}},{{newdate['max']}})
    {% else %}
    {% endif %}

</script>