<div id="delpocket_confirm" class="modalback">

    <div class="posm_frame" id="delp_confirm">

        <p>Are you sure to delete this pocket?</p>

        <p id="p_id" style="display:none;">{{p_id}}</p>

        <button class="posbutton" id="cancelbutton" onclick="removeitem('delp_confirm', 'delpocket_confirm')">
            <div class="valign-wrapper">
                <i class="material-icons left">done_outline</i>
                keep
            </div>
        </button>

        <button class="negbutton" id="delbutton" onclick="removeitem('delp_confirm', 'delpocket_confirm')">
            <div class="valign-wrapper">
            <i class="material-icons left">delete</i>
            delete
            </div>
        </button>

    </div>

</div>