<div id="delpocket_confirm" class="modalback">

    <div class="addm_frame" id="delp_confirm">

        <p>Are you sure to delete this pocket?</p>

        <p id="p_id" style="display:none;">{{p_id}}</p>

        <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="cancelbutton">
            <i class="material-icons left">check_circle</i>
            no
        </a>

        <a class="waves-effect waves-light btn btn-small red" style="border-radius: 2px;" id="delbutton">
            <i class="material-icons left">delete</i>
            yes
        </a>

    </div>

</div>