<div id="details_modal" class="modalback" xmlns:max-width="http://www.w3.org/1999/xhtml">

    <div class="posm_frame" id="details_frame" style="width: 90vw; max-height: 90vh;">

        <!-- hidden pocket id -->
        <p id="hidden_id" style="display: none;"
           {% if p %}
           pid={{pocket.id}}
           {% endif %}
           >
        </p>

        <!-- close button -->
        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('details_frame', 'details_modal')">

        <!-- pocket nam and description -->
        <h6 class="label_s noselect">{{pocket.name}} details</h6>
        <p class="detail_s noselect">{{pocket.description}}</p>

        <!-- dateinputs -->
        <div id="dateinputs" style="border: 1px solid green; width: 100%; min-height: 10px; display: inline-block; padding: 0;">

            <input type="date" id="startdate" class="inputb" style="max-width:45%;  font-size: 80%;">
            <input type="date" id="enddate" class="inputb" style="max-width:45%;  font-size: 80%;">
            <!--<script>
                setdates({{daterange['min']}}, {{daterange['max']}})
            </script>-->

        </div>

        <!-- charts -->
        <div id="charts" style=" display:inline-block; width: 95%; max-height: 75vh; position:relative; border: 2px solid red; overflow:auto;">

            {% include 'charts.html' %}

        </div>

    </div>

</div>