<div id="details_modal" class="modalback">

    <div class="detail_frame" id="details_frame">

        <p id="hidden_id" style="display: none;"
           {% if p %}
           pid="{{p.id}}"
           {% endif %}
           >
        </p>

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('details_frame', 'details_modal')">

        <h6 class="label_s noselect">{{pocket.name}} details</h6>
        <p class="detail_s noselect">({{pocket.description}})</p>

        <div id="chartContainer" class="charts_s">

            <div id="charts_prevslide" style="position: absolute; left: 0; top: 50%-height/2; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"
                onclick="prev_chart()" class="valign-wrapper car_nav">
                <i class="material-icons small navicon">skip_previous</i>
            </div>

            <div id="charts_nextslide" style="position: absolute; right: 0; top:50%-height/2; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"
                onclick="next_chart()" class="valign-wrapper car_nav">
                <i class="material-icons small navicon">skip_next</i>
            </div>

            <div id="chart" style="position: relative; max-height:50%; width: 100%; height: 100%; margin: auto; overflow: hidden;"></div>

        </div>


        <div id="filters" class="filters_s noselect">

            <h6 style="position: sticky; top: 0; background-color: #2196f3; z-index: 1;">All transfers</h6>

            {% for transfer in transfers %}

            <script type="text/javascript">
                fix_point( {{transfer.amount}}, {{transfer.timestamp|date_to_millis}}, '{{transfer.detail}}', '{{transfer._category.name}}');
            </script>

            <div class="valign-wrapper chart_t_holder" style="">

                    <div class="chart_db_holder flow-text">
                        <p
                           {% if transfer.amount > 0 %}
                            class="postransfer"
                           {% else %}
                            class="negtransfer"
                           {% endif %}
                        style = "font-size: 70%;">
                            {{ "{:,}".format(transfer.amount) }}
                        </p>
                        <p class="chart_transferdate">
                            ({{transfer.timestamp.strftime('%d.%b.%Y,%H:%M')}})
                        </p>
                    </div>

                    <div class="chart_db_holder flow-text">
                        <p style="font-weight: bold; font-size: 70%;" class="chart_typeholder">
                            {{transfer._category}}
                        </p>
                        {% if transfer.detail %}
                        <p class="chart_transferdate">
                            ({{transfer.detail}})
                        </p>
                        {% else %}
                        <p class="chart_transferdate">
                            No details
                        </p>
                        {% endif %}
                    </div>
            </div>
            <hr>
            {%endfor%}

        </div>


    </div>

    <script type="text/javascript">
    chart_loaded();
    </script>

</div>