<div id="editpocket_modal" class="modalback valign-wrapper">

    <div class="posm_frame" id="editp_frame">

        <img class="close_btn tooltipped" draggable="false" src="/static/img/icons/close.png"
             id="close_modal" onclick="removeitem('editp_frame', 'editpocket_modal')">

        <h6>edit pocket</h6>

        <p id="hiddenid" style="display: none;" id_data="{{pocket.id}}"></p>

        <ul class="no-bullets">

            <li class="list">
                <input id="editp_name" type="text" class="inputb" placeholder="Pocket name" value="{{pocket.name}}" />
            </li>

            <li class="list">
                <input id="editp_desc" type="text" class="inputb" placeholder="Pocket description" value="{{pocket.description}}"/>
            </li>

            <li class="list">
                <button class="posbutton" id="edit_pocket" onclick="send_edited_pocket()">
                    submit
                </button>
            </li>

        </ul>

    </div>

</div>