<div id="helpmodal" class="modalback">

    <div class="posm_frame" style="max-height: 80vh; max-width: 90vw;" id="help_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="removeitem('help_frame', 'helpmodal')">

        <img id="logo" draggable="false" class="logo" src="/static/img/logo.png">

        <h6 id="title_of_fragment">help</h6>

        <div class="flow-text hframe" id="helpcontainer">

            {% include 'help_0.html' %}

        </div>

    </div>

</div>