<div id="helpmodal" class="modalback">

    <div class="posm_frame" style="max-height: 80vh; max-width: 90vw;" id="help_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="removeitem('help_frame', 'helpmodal')">

        <img id="logo" draggable="false" class="logo" src="/static/img/logo.png">

        <h6>help</h6>

        <div style="position: relative; overflow: auto; max-height: 70%; border: 1px solid red;">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis molestie justo, at scelerisque odio lobortis ut. Nulla id sapien leo. Vivamus vitae eros sit amet metus pulvinar pretium. Nullam suscipit urna pulvinar, euismod diam in, finibus sem. Donec nec vehicula ex, vel facilisis magna. Donec eu lorem quis mauris gravida porta. Ut mattis fermentum mauris et porta. Aliquam lorem neque, accumsan finibus varius eget, imperdiet et sem. Maecenas pellentesque, arcu et euismod consequat, mauris lacus pellentesque nisi, et feugiat tellus tellus at metus.
        </p>

        <p>
            Maecenas et erat ultricies, semper ex vel, cursus sem. Mauris mattis at leo sed congue. Nullam lobortis turpis non velit tristique fringilla. Etiam eu blandit purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla magna est, hendrerit a lorem quis, mollis viverra eros. Integer aliquet ante justo, at ultrices lorem scelerisque a. Vivamus malesuada orci id massa vestibulum vestibulum. Integer ac orci luctus, condimentum orci vitae, feugiat mi. Duis non egestas lacus. Nam sagittis auctor lacus, sed vulputate velit dictum id. Aliquam nisl libero, tincidunt sed enim bibendum, maximus porttitor ante. Sed vitae mollis arcu. Vestibulum sed lacus pellentesque dui semper tincidunt. Nunc mi velit, laoreet sed placerat a, laoreet quis neque.
        </p>

        <p>
            Vestibulum ultrices lorem tempus vehicula euismod. Ut vulputate, justo non rutrum ullamcorper, velit augue aliquam ligula, non dictum ex sem ac orci. Maecenas pharetra non lectus vitae sagittis. Etiam sagittis nisi non hendrerit eleifend. Duis egestas arcu vitae nunc luctus fringilla. Integer malesuada ligula sed erat ullamcorper, eu cursus ex mattis. Morbi consequat ullamcorper sapien. Mauris rhoncus mollis ante et varius. Nam lobortis dui eget rutrum hendrerit. Suspendisse sollicitudin egestas massa, nec tempus orci fringilla sit amet.
        </p>

        <p>
            Curabitur consequat et libero in malesuada. Ut aliquam lorem fermentum mauris auctor varius vel sed nisi. Maecenas iaculis, lectus et commodo bibendum, elit magna vehicula tellus, in sodales lacus sapien a ligula. Ut nec eleifend eros. Proin nec sapien id lorem interdum hendrerit. Nulla facilisis vel arcu non molestie. Donec consequat diam eget felis commodo molestie. Aliquam varius dui erat, id molestie odio pharetra ac.
        </p>

        <p>
            Quisque pellentesque sapien id erat ornare, vel lobortis mauris sagittis. Aliquam lacinia ipsum at dui rhoncus sollicitudin. Phasellus iaculis dui eu elementum lobortis. Maecenas convallis mattis interdum. Nam imperdiet porta convallis. Maecenas rhoncus interdum nibh quis vehicula. Ut dolor est, aliquet quis sem nec, lacinia accumsan risus. Sed a fringilla lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque bibendum dolor id ligula blandit dapibus. Aenean sit amet ipsum elementum, blandit massa id, scelerisque mauris.
        </p>

       </div>

    </div>

</div>