<button style="float: left;" onclick="help_request('0')">back</button>

<h6 style="font-weight: bold;">
    Forgotten password
</h6>

<p class="left-align">
    <br>You can find the forgotten password on the login panel. After you clicked, READ and FOLLOW the instructions you get.
    <br>In lack of valid email address you won't be able to reset your password.
    <br>For sake of your privacy, you won't get any error or success message. Do not worry, the application does his job. Check your email.
</p>