<!DOCTYPE html>
<html lang="en">

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}

    </head>

    <body>
        <h1>Hello, {{ user.username }}!</h1>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username(size=32) }}
            {{ form.submit() }}
        </form>

    </body>
</html>