{% if not current_user.is_authenticated %}

    <a class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" onclick="show_loginmodal()">
        <i class="material-icons left">login</i>
        login
    </a>


    <span style="margin-left: 10px; margin-right: 10px;">
        or
        <a href="#signupmodal" class="modal-trigger" style="color: black;">sign up!</a>
    </span>


{% else %}

    <a class="waves-effect waves-light btn btn-small red" href="/logout" style="border-radius: 2px;">
        <i class="material-icons left rotate180">login</i>
        logout
    </a>

{% endif %}