{% if not current_user.is_authenticated %}

    <button class="posbutton" onclick="show_loginmodal()">
        login
    </button>


    <span style="margin-left: 10px; margin-right: 10px;">
        or
        <!-- <a href="#signupmodal" class="modal-trigger" style="color: black;">sign up!</a> -->
        <a href="#" class="textlink" style="color: black;" onclick="show_signupmodal()">sign up!</a>
    </span>


{% else %}

    <button class="neutralbutton" onclick="show_resetp()">
        reset password
    </button>

    <button class="negbutton" onclick="window.location.href='/logout'">
        logout
    </button>

{% endif %}