{% if not current_user.is_authenticated %}

    <a class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" onclick="show_loginmodal()">
        <i class="material-icons left">login</i>
        login
    </a>


    <span style="margin-left: 10px; margin-right: 10px;">
        or
        <!-- <a href="#signupmodal" class="modal-trigger" style="color: black;">sign up!</a> -->
        <a href="#" class="textlink" style="color: black;" onclick="show_signupmodal()">sign up!</a>
    </span>


{% else %}

    <a class="waves-effect waves-teal btn-small btn-flat" href="#" style="border-radius: 2px; color: white;" onclick="show_resetp()">
        <i class="material-icons left">pending</i>
        reset password
    </a>

    <a class="waves-effect waves-light btn btn-small red darken-2" href="/logout" style="border-radius: 2px;">
        <i class="material-icons left rotate180">login</i>
        logout
    </a>

{% endif %}