
<div class="container" style="border: 1px solid red;">

    <div class="row">

        <span><img style="max-width: 10vmin;" src="/static/img/main/qmark.png"><h5 style="display:inline-block;">What is expense tracking?</h5></span>
        <p>Expense tracking is an important part of creating a budget for your small business. Keeping a daily record of your expenses by tracking receipts, invoices and other outgoing expenses improves the financial health of your budget.</p>

        <span><h1 style="display:inline-block;">2.)</h1><h5 style="display:inline-block;">Why track my expenses and incomes?</h5></span>
        <p> Expense trancking is important blah blah blah... </p>

        <span><h1 style="display:inline-block;">3.)</h1><h5 style="display:inline-block;">Why to use Blancer?</h5></span>
        <p>Blancer is free to use and provides all the basic functionalities to track your money flows.</p>

        <span><h1 style="display:inline-block;">4.)</h1><h5 style="display:inline-block;">How to use Blancer?</h5></span>
        <p>All you need is just to register to</p>

    </div>

</div>