<div id="termsmodal" class="modalback">

    <div class="posm_frame" style="max-height: 80vh; max-width: 90vw;" id="terms_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('terms_frame', 'termsmodal'); $('#signupmodal').show();">

        <img id="logo" draggable="false" class="logo" src="/static/img/logo.png">

        <h6>Terms of use</h6>

        <div class="flow-text" style="position: relative; overflow-y: scroll; box-shadow: inset 0px 0px 47px -16px rgba(0,0,0,0.83);
        max width: 80%;background-color: #fff; font-size: 70%; margin: 20px; padding: 20px; border-radius: 2px; max-height: 50vh; text-align: left;">

            <h4><a href="https://www.termsfeed.com/live/0f77b5cf-f118-4700-93c7-b3b95d7c939a">Blancer© pyrivacy policy</a></h4>

            <p>Version 1.0</p>


        </div>

    </div>

</div>