{% extends 'resetindex.html' %}

{%block pagecontent%}

<div id="resetokmodal" class="modalback">

    <div class="posm_frame" id="resetok_frame">

        <!--
      <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="hideitem('signup_frame', 'signupmodal')">
        -->

      <h4>reset password</h4>

            <ul class="no-bullets">

              <li class="list">
                <input id="reset_username" type="text" class="inputb" placeholder="username"/>
              </li>

              <li class="list">
                <input id="reset_code" type="email" class="inputb" placeholder="validation code"/>
              </li>

              <li class="list">
                <input id="reset_password" type="password" class="inputb" placeholder="password"/>
              </li>

              <li class="list">
                <input id="reset_password2" type="password" class="inputb" placeholder="password again"/>
              </li>

            </ul>

      <button class="posbutton" id="resetbutton" onclick="resetpw()">
        set new password
      </button>

    </div>

  </div>

{%endblock%}