{% extends 'resetindex.html' %}

{%block pagecontent%}

<link rel="stylesheet" type="text/css" href="/static/css/pwstrength.css">

<div id="resetokmodal" class="modalback">

    <div class="posm_frame" id="resetok_frame">

      <h4>reset password</h4>

            <ul class="no-bullets">

              <li class="list">
                <input id="reset_username" type="text" class="inputb" placeholder="username"/>
              </li>

              <li class="list">
                <input id="reset_code" type="text" class="inputb" placeholder="validation code"/>
              </li>

              <li class="list">
                <input id="reset_password" type="password" class="inputb" placeholder="password" onkeyup="checkpwd()"/>
              </li>

              <li>
                <div id="pwdstatus" class="statusbar none">
                  Very weak!
                </div>
              </li>

              <li class="list">
                <input id="reset_password2" type="password" class="inputb" placeholder="password again"/>
              </li>

            </ul>

      <button class="posbutton" id="resetbutton" onclick="resetpw()">
        set new password
      </button>

    </div>

  </div>

{%endblock%}