<div id="rp_modal" class="modalback">

    <div class="posm_frame" id="rp_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="removeitem('rp_frame', 'rp_modal')">

        <h6>reset password</h6>

        <ul class="no-bullets">

            <li class="list">
                <input id="c_password" type="password" class="validate inputb" placeholder="current password" data-length="12">
            </li>

            <li class="list">
                <input id="n_password1" type="password" class="validate inputb" placeholder="new password" data-length="12">
            </li>

            <li class="list">
                <input id="n_password2" type="password" class="validate inputb" placeholder="new password again" data-length="12">
            </li>

            <li class="list">
                <button class="posbutton" id="reset_password" onclick="reset_p()">
                    reset password
                </button>
            </li>

        </ul>

    </div>

</div>