<div id="rp_modal" class="modalback">

    <div class="help_frame" id="rp_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="removeitem('rp_frame', 'rp_modal')">

        <h6>reset password</h6>

        <ul>

            <li>
                <div class="input-field center-align" >
                    <input id="c_password" type="password" class="validate" data-length="12">
                    <label for="c_password">current password</label>
                </div>
            </li>

            <li>
                <div class="input-field center-align" >
                  <input id="n_password1" type="password" class="validate" data-length="12">
                  <label for="n_password1">new password</label>
                </div>
            </li>

            <li>
                <div class="input-field center-align" >
                  <input id="n_password2" type="password" class="validate" data-length="12">
                  <label for="n_password2">current password</label>
                </div>
            </li>

            <li class="center-align">
                <a class="waves-effect waves-light btn btn-small green darken-2" style="border-radius: 2px;" id="reset_password" onclick="reset_p()">
                reset
                </a>
            </li>

        </ul>

    </div>

</div>