<!-- Modal Structure -->
  <div id="signupmodal" class="modal" style="overflow: auto;">

    <div class="modal-content">
      <h4>signup</h4>

      <ul>

        <li>
          <div class="input-field center-align" >
            <i class="material-icons prefix">account_circle</i>
            <input id="signup_username" type="text" class="validate" data-length="12">
            <label for="signup_username">username</label>
          </div>
        </li>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">email</i>
            <input id="signup_email" type="text" class="validate" data-length="120">
            <label for="signup_email">email</label>
          </div>
        </li>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">pending</i>
            <input id="signup_password" type="password" class="validate">
            <label for="signup_password">password</label>
          </div>
        </li>

        <li>
          <div class="input-field center-align">
            <i class="material-icons prefix">pending</i>
            <input id="signup_password2" type="password" class="validate">
            <label for="signup_password2">password again</label>
          </div>
        </li>

        <li>
          <p class="center-align">
            <label>
              <input type="checkbox" id="signup_agree"/>
              <span>I've read and agreed to the <a href="#">TERMS</a>!</span>
            </label>
          </p>
        </li>

        <li class="center-align">
          <a class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" id="signupbutton">
            <i class="material-icons left">check_circle</i>
            signup
          </a>
        </li>

      </ul>

    </div>

  </div>