<!-- Modal Structure -->
  <div id="signupmodal" class="modalback" style="display: none;">

    <div class="posm_frame" id="signup_frame">

      <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="hideitem('signup_frame', 'signupmodal')">

      <h4>signup</h4>

            <ul>

              <li class="list">
                <input id="signup_username" type="text" class="inputb" placeholder="Username"/>
              </li>

              <li class="list">
                <input id="signup_email" type="email" class="inputb" placeholder="Email"/>
              </li>

              <li class="list">
                <input id="signup_password" type="password" class="inputb" placeholder="Password"/>
              </li>

              <li class="list">
                <input id="signup_password2" type="password" class="inputb" placeholder="Password again"/>
              </li>

              <li class="list">
                <label>
                  <input id="signup_agree" type="checkbox" />
                  <span style="color: rgba(255,255,255,.8); margin-left: 10px; margin-right: 10px;">I've read and agreed to the <a href="#">TERMS</a>!</span>
                </label>
              </li>

            </ul>

      <button class="posbutton" id="signupbutton2" onclick="signupattempt(">
        signup
      </button>

    </div>

  </div>