<div id="termsmodal" class="modalback">

    <div class="posm_frame" style="max-height: 80vh; max-width: 90vw;" id="terms_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal"
             onclick="removeitem('terms_frame', 'termsmodal'); $('#signupmodal').show();">

        <img id="logo" draggable="false" class="logo" src="/static/img/logo.png">

        <h6>Terms of use</h6>

        <div style="position: relative; overflow-y: scroll; max-height: 70%; ">

            <p class="flow-text" style="max width: 80%;background-color: #fff; font-size: 70%; margin: 20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis molestie justo, at scelerisque odio lobortis ut. Nulla id sapien leo. Vivamus vitae eros sit amet metus pulvinar pretium. Nullam suscipit urna pulvinar, euismod diam in, finibus sem. Donec nec vehicula ex, vel facilisis magna. Donec eu lorem quis mauris gravida porta. Ut mattis fermentum mauris et porta. Aliquam lorem neque, accumsan finibus varius eget, imperdiet et sem. Maecenas pellentesque, arcu et euismod consequat, mauris lacus pellentesque nisi, et feugiat tellus tellus at metus.
            </p>

        </div>

    </div>

</div>