<div class="fixed-action-btn" id="userfab">

  <a class="btn-floating btn-large blue">
    <i class="large material-icons">dehaze</i>
  </a>

  <ul>

      <!-- add pocket -->
      <li>
        <a class="btn-floating btn-large blue">
            <i class="large material-icons" onclick="addpocket()">queue</i>
        </a>
      </li>

      <!-- show detailed charts -->
      <li>
        <a class="btn-floating btn-large amber">
            <i class="large material-icons">assessment</i>
        </a>
      </li>

      <!-- positive transfer -->
      <li>
        <a class="btn-floating btn-large green">
            <i class="large material-icons">publish</i>
        </a>
      </li>

      <!-- negative transfer -->
      <li>
        <a class="btn-floating btn-large red">
            <i class="large material-icons rotate180">publish</i>
        </a>
      </li>

  </ul>

</div>