<div class="carousel carousel-slider center" style="margin: auto; max-width: 100vw; min-height: 90vh;" id="usercarousel">


    {% for pocket in pockets %}


    <div class="carousel-item  blue-grey lighten-4" style="overflow: auto;"
         id="uc_{{pocket.id}}">

        <div id="prevslide" style="left: 0; border-top-right-radius: 15px; border-bottom-right-radius: 15px;"
         onclick="uc_prev()" class="valign-wrapper car_nav">
        <i class="material-icons center-align">skip_previous</i>
        </div>

        <div id="nextslide" style="right: 0; border-top-left-radius: 15px; border-bottom-left-radius: 15px;"
         onclick="uc_next()" class="valign-wrapper car_nav">
        <i class="material-icons center-align">skip_next</i>
        </div>

        <div class="fixed-action-btn delpocket">

            <!-- <a class="btn-floating btn amber" onclick="random_transfers()">
                <i class="large material-icons">help</i>
            </a> -->

            <a class="btn-floating btn teal">
                <i class="large material-icons">create</i>
            </a>

            <a class="btn-floating btn red" onclick="delpocket({{pocket.id}})">
                <i class="large material-icons">delete</i>
            </a>

        </div>

        <h2 style=" margin-top: 10px; margin-left: 10px;" class="left-align">{{pocket.name}}</h2>

        <h1
        {% if pocket.balance >= 0%}
          class = "green-text darken-2"
         {% else %}
          class = "red-text darken-2"
        {% endif %}
        >{{pocket.balance}}
        </h1>

        <!-- here was the chart -->

    </div>

    {% endfor %}

</div>