<div class="carousel carousel-slider center" style="margin: auto; max-width: 90vw; min-height: 85vh;" id="usercarousel">

    {% for pocket in pockets %}

    <div class="carousel-item" style="border:2px solid green;" href="#one!">

        <div class="fixed-action-btn delpocket" id="delpocket_{{pocket.id}}">

            <a class="btn-floating btn red">
                <i class="large material-icons">delete</i>
            </a>

        </div>

      <h2 style=" margin-top: 10px; margin-left: 10px;" class="left-align">{{pocket.name}}</h2>
      <h1
      {% if pocket.balance >= 0%}
          class = "green-text darken-2"
      {% else %}
          class = "red-text darken-2"
      {% endif %}
      >{{pocket.balance}}</h1>
    </div>

    {% endfor %}

</div>