<div class="fixed-action-btn" id="userfab">

  <a class="btn-floating btn-large blue tooltipped" data-position="left" data-delay="50" data-tooltip="Main menu">
    <i class="large material-icons">dehaze</i>
  </a>

  <ul>

      <!-- show help -->
      <li>
          <a class="btn-floating btn-small lime tooltipped" data-position="left" data-delay="50" data-tooltip="Help">
            <i class="large material-icons" onclick="show_help()">contact_support</i>
          </a>
      </li>

      <!-- add pocket -->
      <li>
        <a class="btn-floating btn-small blue tooltipped" data-position="left" data-delay="50" data-tooltip="Add pocket">
            <i class="large material-icons" onclick="addpocket()">queue</i>
        </a>
      </li>

      <!-- categories -->
      <li>
        <a class="btn-floating btn-small teal tooltipped" data-position="left" data-delay="50" data-tooltip="Categories">
            <i class="large material-icons" onclick="show_cat()">description</i>
        </a>
      </li>

      <!-- positive transfer -->
      <li>
        <a class="btn-floating btn-large green darken-2 tooltipped" data-position="left" data-delay="50" data-tooltip="Add income">
            <i class="large material-icons" onclick="addtransfer(1)">publish</i>
        </a>
      </li>

      <!-- negative transfer -->
      <li>
        <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Add expense">
            <i class="large material-icons rotate180" onclick="addtransfer(-1)">publish</i>
        </a>
      </li>

  </ul>

</div>